@import url(Main.css);

/*Wrapper*/

.wrapper-main{
    width: 80%;
}

/*Sections*/

.get-involved {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5% 0 15% 0;
}

.contribution {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 5% 0;
}

.contribution h1 {
    align-self: center;
}

/*Card*/

.vertical-card {
    width: 350px; 
}

/*Button*/

.get-in-touch {
    padding-top: 5rem;
}

