@import url(Main.css);


.nav-highlight-page {
    border-bottom: 2px solid #B75BCE;
  }

.section-contact {
    display: flex;
    justify-content: center;
    padding: 10rem 0;
    flex-wrap: wrap;
    
}

.contact-info {
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.contact-point {
    display: flex;
    padding-top: 1rem;
}

i {
    padding-right: 0.5rem;
}



