
.wrapper-main{
    width: 80%;
    margin: 0 auto;
}

.get-involved {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5% 0 15% 0;
}

.contribution {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 5% 0;
}

.contribution h1 {
    align-self: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

}

.vertical-card {
    width: 350px;
    background-color: #DAF5FB;
    border-radius: 10px;
    overflow: hidden;
    
}

.vertical-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.v-card-content {
    padding: 32px 24px;
}

.get-in-touch {
    padding-top: 5rem;
}

