
@import url(Main.css);

/*Sections*/

.exhibitions-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 5% 0 2% 0;
}

.section-upcomingevents-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10% 0 15% 0;
    flex-wrap: wrap;
}


/*Card*/

.vertical-card {
    flex-basis: 30%;
    gap: 100px;
    min-width: 300px;
}

.card-content {
    padding: 2rem;
}

