/* START FOOTER */

/*Section*/

footer {
    background-color: var(--main-blue);
    padding: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: auto;
}

/*Logo*/

.footer-logo {
    height:auto;
    color: #FFFF;
    
}

/*Links*/

footer a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

footer li {
    list-style: none;
    padding-top: 2rem;
}

.footer-socials{
    padding-top: 2rem;
}

/*Mobile view*/

@media (max-width: 800px) {


    footer li {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    footer a {
        text-decoration: none;
        color: white;
    }
    
}

/* END FOOTER */