
/*Section*/

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.row {
    display: flex;
    flex-direction: column;
}

/*Details*/

label {
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.rem;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: var(--main-blue);
    font-weight: 500;
}

input {
    padding: 1rem;
}

textarea {
    padding: 1rem;
}

input,textarea {
    background-color: var(--background-blue);
    border: none;
    border-bottom: 1.5px solid #007A94;
    font-size: 1rem;
}

/*Button*/

#submit {
    margin-top: 1rem;
    background-color: var(--secondary-purple);
    border-bottom: none;
    cursor: pointer;
}



