
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    flex-wrap: wrap;
    gap: 1.5rem;
}

label {
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.rem;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: #007A94;
    font-weight: 500;
}

input {
    padding: 1rem;
}

textarea {
    padding: 1rem;
}

input,textarea {
    background-color: #DAF5FB;
    border: none;
    border-bottom: 1.5px solid #007A94;
    font-size: 1rem;
}



.row {
    display: flex;
    flex-direction: column;
}



#submit {
    margin-top: 1rem;
    background-color: #D688E9;
    border-bottom: none;
    cursor: pointer;

}



