
/* START SECTION 1 */

.section-intro {
    display: flex;
    align-items: center;
    width: 100%;
}

.intro-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    padding: 6%;
}

.intro-font {
    font-size: 20px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.intro-2 {
    flex: 2;
}

.intro-image {
    width: 100%; 
    height: auto; 
    display: block; 
    object-fit: cover;
}

.intro-image-small {
    display: none;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    
}

@media (max-width: 1200px) {
    .section-intro {
        flex-direction: column-reverse;

    }
    
    .intro-1 {
        text-align: center;
    }

    .intro-2 {
        width: 100%;
    }

    
    .intro-image {
        display: none;
    }

    .intro-image-small {
        display:flex; 
        width: 100%; 
        height: auto; 
        object-fit: cover;
    }

    .buttons-container {
        display: flex;
        align-self: center;
    }
}



/* END SECTION 1 */



/* START FORKIDS */

.section-forkids {
    background-color: #DAF5FB;
    display: flex;
}

.section-forkids-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 10% 0;
}

.forkids-1 {
    width: 30%;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.forkids-2 {
    flex: 1;
    display: flex;
    justify-content: center;
}

.img-forkids {
    width: 600px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;

}

@media (max-width: 1200px) {

    .section-forkids-flex {
        flex-direction: column-reverse;
        gap: 0rem;
    
    }
    
    .forkids-1 {
        width: 44%;
        padding-top: 3rem;
        align-items: center;
    }
    
    .img-forkids {
        width: 100%;
        height: 100%;
    }

    .section-forkids .wrapper-main  {
        width: 100%;
        margin: 0 auto;
}
}

/* END FORKIDS */

/* START FORTEACHERS */

.section-forteachers {
    background-color: #F0FBFF;
    
}

.section-forteachers-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 10% 0;
}



.forteachers-1 {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    
}

.forteachers-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.img-forteachers {
    width: 600px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
}

@media (max-width: 1200px) {

    .section-forteachers-flex {
        flex-direction: column;
        gap: 0rem;
    
    }
    
    .forteachers-2 {
        width: 44%;
        padding-top: 3rem;
        align-items: center;
        
    }
    
    .img-forteachers {
        width: 100%;
        height: 100%;
    }

    .section-forteachers .wrapper-main  {
        width: 100%;
        margin: 0 auto;
}
}

/* END FORTEACHERS */

/* START FORRESEARCHERS */

.section-forresearchers {
    background-color: #DAF5FB; 
}

.section-forresearchers-flex{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 10% 0;
    
}

.forresearchers-1 {
    width: 30%;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
}

.forresearchers-2 {
    display: flex;
    flex: 2;
    justify-content: flex-end; 
}



.img-forresearchers {
    width: 600px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
}

@media (max-width: 1200px) {

    .section-forresearchers-flex {
        flex-direction: column-reverse;
        gap: 0rem;
    
    }
    
    .forresearchers-1 {
        width: 44%;
        padding-top: 3rem;
        align-items: center;
       
    }

    
    .img-forresearchers {
        width: 100%;
        height: 100%;
    }

    .section-forresearchers .wrapper-main  {
        width: 100%;
        margin: 0 auto;
}
}

/* END FORRESEARCHERS */

