

html {
    font-size: 16px;
}

body {
    background-color: #F0FBFF;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

main {
    padding-top: 5rem ;
}

.wrapper-main{
    width: 80%;
    margin: 0 auto;
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'poppins' , Verdana, Geneva, Tahoma, sans-serif;
    color: #007A94;
    font-weight: 00;
    
}

h1 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    
}

h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 8px;
    
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

h4 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
}

h6 {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
}

p {
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.rem;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.p-bold {
    font-weight: 700;
}

.p-space {
    padding-bottom: 1.5rem;
}

.nav-highlight-page {
    border-bottom: 2px solid #007A94;
  }

img {
    width: 100%; 
    height: auto; 
    display: block; 
    object-fit: cover;
}



table {
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

/* BUTTON */

.button-main{
    background-color: #D688E9;
    color: black;
    padding: 16px;
    border: none;
    border-radius: 2px;
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-right: 1rem;  
}
.button-secondary{
    background-color: #2ECDF0;
    color: black;
    padding: 16px;
    border: none;
    border-radius: 2px;
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-right: 1rem;  
}

.button-main-wide {
    background-color: #D688E9;
    padding: 14px 16px;
    border: none;
    border-radius: 2px;
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    width: 360px;
    margin-top: 1rem;
    text-align: center;
}

.button-card {
    display: inline-block;
    background-color: #D688E9;
    color: black;
    padding: 14px 16px;
    border: none;
    border-radius: 2px;
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-right: 1rem; 
}

button {
    background-color: #D688E9;
    padding: 14px 16px;
    border: none;
    border-radius: 2px;
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-right: 1rem;
}

.button-2 {
    background-color: #2ECDF0;
}

.button-wide {
    background-color: #D688E9;
    padding: 16px;
    border: none;
    border-radius: 2px;
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    width: 360px;
    margin-top: 1rem;

}

/* BUTTON */

.fa-solid {
    color:#007A94
}