/* NAV */




.section-navigation {
    width: 100%;
    background-color: #F0FBFF;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

}

nav {
    display: block;
    flex-direction: row;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.hamburger-icon {
    display: none;
}



.logo {
    padding-left: 2rem ;
    width: 5rem;
}

nav li {
    list-style: none;
}

header {
    position: relative;
    background: #F0FBFF;
    color: #007A94;
    font-size: 1rem;

}

nav a {
    color: #007A94;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'poppins' , Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 500;
    
}

#menu-checkbox {
    display: none;
}

 
.link-contactus {
    font-weight: 900;
    color: #B75BCE;
}




@media (max-width: 800px) {

    nav {
        display: none;
    }

    #menu-checkbox:checked ~ nav {
        display: flex;
        flex-direction: column;
        background: #F0FBFF;
        width: 100%;
        height: 100vh;
        align-items: flex-start;
        position: fixed;
        top: 80px; 
        left: 0;
    }

    .hamburger-icon {
        display: flex;
        cursor: pointer;
        font-size: 20px;
        z-index: 101; 
        padding-right: 0.5rem;
    }

    .section-navigation {
        display: flex;
        flex-direction: row-reverse;
    }

    .logo {
        padding-left: 1rem;
        padding-top: 1rem; 
        order: 2; 
    }

    #menu-checkbox:checked ~ .logo {
        order: 2; 
    }

    .hamburger-icon {
        display: flex;
        flex-direction: row;
        float: right;
        cursor: pointer;
        font-size: 20px;
        z-index: 100
    }
    
    
   

    nav ul {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        align-content: center;
    }

    nav a {
        display: block;
        align-content: center;
    }
}

/* END NAV */