/* START EVENTS */


.section-upcomingevents-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15% 0;

}

.upcomingevents-1 {
    flex: 1;
}


.upcomingevents-2 {
    flex: 1;
    display: flex;

}

.horizontalcard-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
    
}

.horizontal-card {
    display: flex;
    background-color: #DAF5FB;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    align-self: center;

}

.card-content-1 {
    flex: 1;
    display: flex;
    
    
}

.horizontal-card-img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex: 1;
 
}

.card-content-2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 3rem 0 3rem 3rem;
    
}

.card-date {
    color: #AE6DBE;
    font-weight: 400;
    padding: 0;
    margin-bottom: 0;
}

.card-title {
    color: #272727;
    font-weight: 400;
    margin-top: 0;
    
}



@media (max-width: 1200px) {
    .section-upcomingevents-flex {
        flex-direction: column;
    }
}
/* END EVENTS */