@import url(Main.css);

/*Sections*/

.section-headline {
   text-align: center;
}

.variousinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    justify-content: center;
    padding: 5rem 0;
}

.variousinfo-openinghours {
    display: grid;
    grid-column: 1;
    grid-row: 1/ span 2;
    background-color: var(--background-purple) ;
    place-items: center;
    place-content: center;
    align-items: center;
}


.variousinfo-location {
    grid-column: 2;
    grid-row: 1;
    background-color: var(--background-purple);
    padding: 100px;
}

.variousinfo-admission {
    grid-column: 2;
    grid-row: 2;
    background-color: var(--background-purple);
    padding: 100px;
}

.variousinfo-more {
    grid-column: 1 / span 2;
    grid-row: 3;
    background-color: var(--background-blue);
    text-align: center;
    padding: 150px;
}

.more-accessibility {
    padding-bottom: 4rem;

}

.more-foodanddrink {
    padding-bottom: 4rem;
}

/*Table*/

table {
    border-collapse: collapse;
  }
  
  tr {
    border-bottom: 1px solid var(--light-purple);
  }

  tr:last-child {
    border-bottom: 0px;
  }
  
  td {
    padding: 8px;
  }

  .p-bold {
    padding: 0.5rem 2rem 0.5rem 0;
  }

  .p-bold-2 {
    padding: 0.5rem 0rem 0.5rem 2rem;
    font-weight: 700;
  }

  .table-fees {
    margin-bottom: 1rem;
}

/*Icons*/

  .variousinfo-more i {
    font-size: 45px;
    padding-bottom: 0.5rem;
  }

  .fa-solid{
    color: var(--secondary-blue);
  }

  /*Mobile view*/

@media (max-width: 800px) {

    .variousinfo {
        grid-template-columns: 1fr;
        grid-template-rows: auto ;
    }

    .variousinfo-openinghours {
        padding: 5rem 2rem;
        grid-column: auto;
        grid-row: auto;
    }
    
    
    .variousinfo-location {
        grid-column: auto;
        grid-row: auto;
        padding: 5rem 2rem;
    }
    
    .variousinfo-admission {
        grid-column: auto;
        grid-row: auto;
        padding: 5rem 2rem;
    }
    
    .variousinfo-more {
        grid-column: auto;
        grid-row: auto;
        padding: 5rem 2rem;
    }

}